:root {
  --wb-edge-color: var(--ax-edge-primary-default);
  --wb-edge-color-temporary: var(--ax-edge-primary-default);
  --wb-edge-color-hover: var(--ax-edge-primary-hover);
  --wb-edge-color-select: var(--ax-edge-primary-active);

  --wb-edge-label-color: var(--foreground);
  --wb-edge-label-background: var(--background);
}
