.container {
  background: hsl(var(--card));
  border-radius: 0.75rem;
  border: 1px solid hsl(var(--border));
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  display: flex;
  height: auto;
  padding: 0.75rem 1rem;
  pointer-events: all;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.toolbar {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.toolbar .logo {
  color: hsl(var(--foreground));
}

.toolbar .nav-segment {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.project-selection {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.project-selection .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

.menu-container {
  position: relative;
}

.folder-name {
  color: hsl(var(--muted-foreground));
}

.title {
  color: hsl(var(--foreground));
  min-height: 1em;
  min-width: 1em;
  cursor: pointer;
}

.title:empty {
  border-bottom: 1px dotted currentColor;
}

@media screen and (max-width: 800px) {
  .project-selection {
    display: none;
  }
  .title {
    margin-left: 0.5rem;
  }
}
