.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: visible;

  .header {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    z-index: 10;
    gap: 1rem;
    pointer-events: auto;
  }

  .content {
    position: relative;
    width: 100%;
    flex: 1;
    min-height: 0;
    padding: 0 1rem 1rem 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

    .panel {
      height: 100%;
      min-height: 100%;
      max-height: 100%;
      display: flex;
      z-index: 1;
      pointer-events: none;
    }
    .right-panel {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: end;
      justify-content: flex-start;
      height: 100%;
      max-height: 100%;
      min-height: 0;
    }
  }

  .diagram-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }
}
