.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.tip {
  margin: 0;
}

.error {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
