.sidebar {
  width: auto;
  height: min-content;
  position: relative;
  align-items: center;
  justify-content: space-between;
  pointer-events: all;
  border-radius: 0.75rem;
  background: var(--card);
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
  border: 1px solid var(--border);
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.sidebar.expanded {
  height: 100%;
}

.header {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
  position: sticky;
  top: 0;
  z-index: 10;
  background: var(--card);
  padding-bottom: 1rem;
}

.sidebar.expanded .header {
  border-bottom: 1px solid var(--border);
}

.content {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem 1rem;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.footer {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
  padding-top: 1rem;
  border-top: 1px solid var(--border);
}
