.content {
  --ax-public-node-gap: 0;
}

.collapsible {
  padding-top: 0.5rem;
}

.expanded-container {
  margin-top: 0.75rem;
  padding-top: 0.75rem;
  border-top: 0.0625rem solid var(--ax-ui-stroke-primary-default);
}

.expanded-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.75rem;
  background-color: var(--ax-ui-surface-primary-hover);
  border-radius: 0.5rem;
  color: var(--ax-txt-primary-default);
}
