.content {
  --ax-public-node-gap: 0;
}

.collapsible {
  padding-top: 0.5rem;
}

.expanded-container {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 0.0625rem solid var(--ax-ui-stroke-primary-default);
  width: 100%;
}

.expanded-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.25rem;
  background-color: var(--ax-ui-surface-primary-hover);
  border-radius: 0.5rem;
  color: var(--ax-txt-primary-default);
  min-width: 500px;
  min-height: 350px;
  width: 100%;
}

.expanded-content > div:first-child {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

