.sidebar {
  min-height: min-content;
  width: 270px;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  pointer-events: all;
  border-radius: 0.75rem;
  background: var(--card);
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
  border: 1px solid var(--border);
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  z-index: 1;
}

.sidebar.expanded {
  height: 100%;
}

.header,
.footer,
.content {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
}

.header {
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
  flex-shrink: 0;
}

.header:last-child {
  padding-bottom: 0;
}

.content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: 0;
  flex-shrink: 1;
  scrollbar-width: none;
}

.content::-webkit-scrollbar {
  display: none;
}

.footer {
  padding-top: 1rem;
  flex-shrink: 0;
}

.extend-bounds {
  margin-left: -1.5rem;
  width: calc(100% + 1.5rem);
}

.extend-bounds > * {
  padding-left: 1.5rem;
}
