.sidebar {
  min-height: 0;
  width: 270px;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  pointer-events: all;
  border-radius: 0.75rem;
  background: hsl(var(--card));
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
  border: 1px solid hsl(var(--border));
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  z-index: 1;
}

.resize-handle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 10px;
  transform: translateX(-50%);
  cursor: ew-resize;
  z-index: 2;
}

.sidebar.expanded {
  flex: 1 1 auto;
  height: 100%;
  max-height: 100%;
  min-height: 0;
}

.header,
.footer,
.content {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
}

.header {
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
  flex-shrink: 0;
}

.header:last-child {
  padding-bottom: 0;
}

.content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: 0;
  flex-shrink: 1;
}

.footer {
  padding-top: 1rem;
  flex-shrink: 0;
}

.extend-bounds {
  margin-left: -1.5rem;
  width: calc(100% + 1.5rem);
}

.extend-bounds > * {
  padding-left: 1.5rem;
}
