.root {
  --ax-public-node-gap: 0;
}

.palettePreview {
  > div {
    background-color: var(--card);
    border: 1px solid var(--border);
    border-radius: 0.75rem;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    width: 100% !important;
    min-width: 100% !important;
    padding: 0.75rem 1rem;
    gap: 0.75rem;
    align-items: flex-start;
  }
}

.content {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  & div svg {
    width: 18px;
    height: 18px;
  }

  .collapsible-content {
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .selected-model-icon {
    background-color: var(--ax-txt-primary-default);
    color: var(--ax-txt-primary-inverse);
    outline: none;
  }

  .selected-memory-icon {
    color: var(--ax-txt-primary-white);
    background-color: var(--ax-button-gray-bg-default);
    outline: none;
  }
}
